<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>job scraper</title>
  <!-- DEFINE CSS VARIABLES FROM SETTINGS.PY IN :ROOT TO ACCESS THEM ANYWHERE -->
  {{ cssRoot|safe }}
  <!-- MAIN CSS FILE -->
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <!-- BOKEH RESOURCES -->
  {{ resources|safe }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- TRASH BIN ICON -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> <!-- PLUS ICON -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Anonymous Pro'>
  <link href='https://fonts.googleapis.com/css?family=Anta' rel='stylesheet'>
</head>

<body class="flexCentered flexDirectionColumn">
  <!-- HEADER -->
  <div id="headerContainer" class="flexCentered flexDirectionColumn disabledTextSelection">job scraper 
    <div class="headerTextContainer flexCentered flexDirectionRow">
      <span id="headerText1">so many offers</span>
      <span id="headerText2">so much s<span id="headerText3">crap</span>
      </span>
    </div>
  </div>

  <div id="mainContainer">
    
    <!-- QUERY TOOL -->
    <div class="categoryContainer">
      <div class="categoryShowHideDiv flexCentered disabledTextSelection" >QUERY TOOL</div>
        <div class="categoryContent flexCentered flexDirectionColumn" id="categoryContentQueryTool" style="display: flex;"> <!--style="display: flex;"-->

          <form id="mainForm">
            <table>
              <thead>
                <tr> 
                  <th scope="col" class="constantWidthColumnParameters">
                    <div id="parametersHeader" class="flexCentered flexDirectionColumn disabledTextSelection" title="hover over the parameter for description">
                      <i id="messageIcon" class="fa-regular fa-comment-dots"></i>
                      <i id="handPointerIcon" class="fa-solid fa-hand-pointer"></i>
                    </div></th>
                  <th scope="col" class="constantWidthColumnShow">
                    <span id="checkUncheckTableHeaderSpan" class="flexCentered flexDirectionRow" title="show parameter in results table">show
                      <div id="checkUncheckAll">&cross;</div>
                    </span>
                  </th>
                  <th scope="col" class="flexibleWidthColumn" title="necessary keywords and/or NULL values">necessary</th>
                  <th scope="col" class="flexibleWidthColumn" title="forbidden keywords and/or NULL values">forbidden </th>
                  <th scope="col" class="constantWidthColumnAboveAndBelow" title="only offers above this value" >above</th>
                  <th scope="col" class="constantWidthColumnAboveAndBelow" title="only offers below this value">below</th>
                </tr>
              </thead>
              {% for columnDict in databaseColumns %}
              <tr>
                <td title="{{columnDict.description}}">{{columnDict.displayName}}</td>
                <td><input type="checkbox" class="ckeckBox" checked="checked" name={{columnDict.dbColumnName}}Show></td>
                {% if columnDict.dbColumnName != "salaryMin" and columnDict.dbColumnName != "salaryMax" %}
                <td><input type="text" placeholder="(a OR b OR c) AND (d OR e)" name={{columnDict.dbColumnName}}Necessary></td>
                <td><input type="text" placeholder="((NULL AND a AND b) OR (c OR d) OR (f AND g))" name={{columnDict.dbColumnName}}Forbidden></td>
                {% elif columnDict.dbColumnName == "salaryMin" or columnDict.dbColumnName == "salaryMax" %}
                <td><input type="text" placeholder="420" name={{columnDict.dbColumnName}}Necessary></td>
                <td><input type="text" placeholder="NULL OR 0" name={{columnDict.dbColumnName}}Forbidden></td>
                {% endif %}
                {% if columnDict.dbColumnName == "datetimeFirst" or columnDict.dbColumnName == "datetimeLast" %}
                <td><input type="datetime-local" name={{columnDict.dbColumnName}}Above></td>
                <td><input type="datetime-local" name={{columnDict.dbColumnName}}Below></td>
                {% elif columnDict.dbColumnName == "salaryMin" or columnDict.dbColumnName == "salaryMax" %}
                <td><input type="number" placeholder="1337" name={{columnDict.dbColumnName}}Above></td>
                <td><input type="number" placeholder="1000000" name={{columnDict.dbColumnName}}Below></td>
                {% endif %}
              </tr>
              {% endfor %}
            </table>
            <!-- <div class="fetchDiv"> -->
              <input type="submit" value="SEARCH" id="sendFormAndFetchBokehButton" class="disabledTextSelection">
              <div id="sendFormAndFetchBokehOutput">search to display offers (if already scraped)</div>
            <!-- </div> -->
          </form>

        </div>
    </div>

    <!-- QUERY -->
    <div class="categoryContainer">
      <div class="categoryShowHideDiv flexCentered disabledTextSelection">QUERY</div>
        <div class="categoryContent flexCentered flexDirectionColumn" style="display: flex;">
          <span contenteditable="true" id="queryDiv" spellcheck="false" style="display: none;"></span>
        </div>
    </div>

    <!-- PLOT -->
    <div class="categoryContainer">
      <div class="categoryShowHideDiv flexCentered disabledTextSelection">PLOT</div>
        <div class="categoryContentBokeh" style="display: block;">
          <div id="plotDiv"></div>
        </div>
    </div>

    <!-- TABLE -->
    <div class="categoryContainer">
      <div class="categoryShowHideDiv flexCentered disabledTextSelection">TABLE</div>
        <div class="categoryContentBokeh" style="display: block;">
          <div id="tableDiv"></div>
        </div>
    </div>

    <!-- DOWNLOAD CSV -->
    <div class="categoryContainer">
      <div class="categoryShowHideDiv flexCentered disabledTextSelection">DOWNLOAD</div>
        <div id="categoryContentResultsAndDownload" class="categoryContent flexCentered flexDirectionRow" style="display: flex;">
          <h1 id="resultsAmount"></h1>
          <div id="downloadCsvContainer" class="disabledTextSelection">
            <div id="downloadCsvIcon" class="flexCentered flexDirectionColumn"></div>
            <div id="downloadCsvText" class="flexCentered flexDirectionColumn"></div>
          </div>
        </div>
    </div>

    <!-- TEST BROWSER -->
    <div class="categoryContainer">
      <div class="categoryShowHideDiv flexCentered disabledTextSelection">TEST BROWSER</div>
      <!-- style="display: flex;" OTHERWISE JS CANT RECOGNIZE STYLE.DISPLAY -->
      <div class="categoryContent flexCentered flexDirectionColumn" id="testBrowsercategoryContent" style="display: flex;">
          <button id="openBrowserButton" class="disabledTextSelection">OPEN BROWSER</button>
          <div id="openBrowserOutput" class="testBrowserOutput">open a browser to update cookies.json</div>
          <button id="saveCookiesToJsonButton" class="disabledTextSelection">UPDATE COOKIES</button>
          <div id="saveCookiesToJsonOutput" class="testBrowserOutput"></div>
        </div>
    </div>

    <!-- SCRAPING CONTAINER  -->
    <div class="categoryContainer">
      <div class="categoryShowHideDiv flexCentered disabledTextSelection">SCRAPING BROWSERS</div>
        <div class="categoryContent flexCentered flexDirectionColumn" style="display: flex;">
          <div id="fullScrapingDivsContainer"></div>
          <button id="addNewProcessButton" class="flexCentered flexDirectionColumn disabledTextSelection"><i class="fas fa-plus"></i></button> <!-- HTML plus -->
        </div>
    </div>

  </div> <!--mainContainer -->

  <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>