<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plot and Table</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  {{ resources|safe }}
</head>

<body>
  <!-- <div class="fetchDiv"> -->
    <button id="openBrowserButton">open test browser</button>
    <div id="openBrowserOutput">output text</div>
  <!-- </div> -->

  <!-- <div class="fetchDiv"> -->
    <!-- <button id="saveCookiesToJsonButton" disabled="true" >SaveCookiesToJson</button> -->
    <button id="saveCookiesToJsonButton" >update cookies.json</button>
    <div id="saveCookiesToJsonOutput">output text</div>
  <!-- </div> -->

  <div id="fullScrapingDivsContainer"></div>
  <button id="addNewProcessButton">ADD NEW PROCESS</button>

  <form id="mainForm">
    <table>
      <thead>
        <tr>
          <th scope="col">parameter</th>
          <th scope="col">show in table <p class="checkUncheckAll">UNCHECK ALL</p>
          </th>
          <th scope="col">necessary</th>
          <th scope="col">forbidden</th>
          <th scope="col">above</th>
          <th scope="col">below</th>
        </tr>
      </thead>
      {% for column in columnsAll %}
      <tr>
        <td>{{column}}</td>
        <td><input type="checkbox" class="ckeckBox" checked="checked" name={{column}}Show></td>
        {% if column != "salaryMin" and column != "salaryMax" %}
        <!-- oninput="this.size = this.value.length" makes it resize, but it might be unnecessary -->
        <td><input type="text" placeholder="necessary phrase" name={{column}}Necessary></td>
        <td><input type="text" placeholder="forbidden phrase" name={{column}}Forbidden></td>
        {% elif column == "salaryMin" or column == "salaryMax" %}
        <td></td>
        <td></td>
        {% endif %}
        {% if column == "datetimeFirst" or column == "datetimeLast" %}
        <td><input type="datetime-local" placeholder="above" name={{column}}Above></td>
        <td><input type="datetime-local" placeholder="below" name={{column}}Below></td>
        {% elif column == "salaryMin" or column == "salaryMax" %}
        <td><input type="number" placeholder="4000" name={{column}}Above></td>
        <td><input type="number" placeholder="10000" name={{column}}Below></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    <!-- <div class="fetchDiv"> -->
      <input type="submit" value="submit" id="sendFormAndFetchBokehButton">
      <div id="sendFormAndFetchBokehOutput"></div>
    <!-- </div> -->
  </form>

  <span contenteditable="true" id="queryDiv" spellcheck="false"></span>
  <br>
  <h1 id="resultsAmount"></h1>
  <a id="downloadCsv" href="{{ url_for('downloadCsvEndpoint') }}" class="btn"></a>
  <div id="plotDiv"></div>
  <br>
  <div id="tableDiv"></div>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>