<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html, body, div {
          box-sizing: border-box;
          /* display: flow-root; */
          width: 100%;
          margin: 0;
          padding: 0;
        }
        th, tr {
            padding: 5px 5px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        input[type="text"] {
            width: 100px;
        }
        .checkUncheckAll {
            color: blue;
        }
      </style>
</head>
<body>

    <h1>Generate dynamic table</h1>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th scope="col">parameter</th>
                    <th scope="col">show in table <p class="checkUncheckAll">UNCHECK ALL</p> </th>
                    <th scope="col">necessary</th>
                    <th scope="col">forbidden</th>
                    <th scope="col">above</th>
                    <th scope="col">below</th>
                </tr>
            </thead>
            {% for column in columnsAll %}
            <tr>
                <td>{{column}}</td>
                <td><input type="checkbox" class="ckeckBox" checked="checked" name={{column}}Show></td>
                <td><input type="text" placeholder="necessary phrase" name={{column}}Necessary></td>
                <td><input type="text" placeholder="forbidden phrase" name={{column}}Forbidden></td>
                {% if column == "datetimeFirst" or column == "datetimeLast" %}
                <td><input type="text" placeholder="above" name={{column}}Above value="2024-04-20"></td>
                <td><input type="text" placeholder="below" name={{column}}Below></td>
                {% elif column == "salaryMin" or column == "salaryMax" %}
                <td><input type="text" placeholder="4000" name={{column}}Above></td>
                <td><input type="text" placeholder="10000" name={{column}}Below></td>
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="submit">
    </form>
    <script>
        //CHANGING CHECKBOXES STATE - CHECK/UNCHECK
        document.querySelector('.checkUncheckAll').addEventListener('click', (event) => {
            if (document.querySelector('.checkUncheckAll').textContent == 'UNCHECK ALL') {
                document.querySelectorAll('.ckeckBox').forEach(checkbox => {checkbox.checked = false})
                document.querySelector('.checkUncheckAll').textContent = 'CHECK ALL'
            }
            else if (document.querySelector('.checkUncheckAll').textContent == 'CHECK ALL') {
                document.querySelectorAll('.ckeckBox').forEach(checkbox => {checkbox.checked = true})
                document.querySelector('.checkUncheckAll').textContent = 'UNCHECK ALL'
            }
        })
        //GENERATE DATETIME
        function generateDatetime(){
            let now = new Date();
            let year = now.getFullYear();     // e.g., 2024
            let month = now.getMonth() + 1;   // Month is 0-indexed, so +1 (e.g., 10 for October)
            let day = now.getDate();          // Day of the month (e.g., 12)
            console.log(`${year}-${month}-${day}`)
        }
        // generateDatetime()

    </script>
</body>
</html>


