<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html, body, div {
          box-sizing: border-box;
          /* display: flow-root; */
          width: 100%;
          margin: 0;
          padding: 0;
        }
        th, tr {
            padding: 5px 5px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        input[type="text"] {
            width: 100px;
        }
      </style>
</head>
<body>

    <h1>Generate dynamic table</h1>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th scope="col">parameter</th>
                    <th scope="col">show in table</th>
                    <th scope="col">necessary</th>
                    <th scope="col">forbidden</th>
                    <th scope="col">above</th>
                    <th scope="col">below</th>
                </tr>
            </thead>
            {% for column in columnsAll %}
            <tr>
                <td>{{column}}</td>
                <td><input type="checkbox" checked="checked" name={{column}}Show></td>
                <td><input type="text" placeholder="necessary phrase" name={{column}}Necessary></td>
                <td><input type="text" placeholder="forbidden phrase" name={{column}}Forbidden></td>
                {% if column == "datetimeFirst" or column == "datetimeLast" %}
                <td><input type="text" placeholder="above" name={{column}}Above value="2024-04-20"></td>
                <td><input type="text" placeholder="below" name={{column}}Below></td>
                {% elif column == "salaryMin" or column == "salaryMax" %}
                <td><input type="text" placeholder="4000" name={{column}}Above></td>
                <td><input type="text" placeholder="10000" name={{column}}Below></td>
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="submit">
    </form>
</body>
</html>


