<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <style>
        html, body, div {
          box-sizing: border-box;
          /* display: flow-root; */
          width: 100%;
          margin: 0;
          padding: 0;
        }
      </style> -->
</head>
<body>

    <!-- 'datetimeFirst', 'datetimeLast', 'url', 'title', 'salaryAndContract', 'salaryMin', 'salaryMax', 'employer', 'workModes', 'positionLevels', 'offerValidTo', 'location', 'techstackExpected', 'techstackOptional', 'responsibilities', 'requirements', 'optionalRequirements'] -->

    <h1>Form</h1>
    
    <!-- <form method="POST">
    <form method="POST" action="{{ url_for('results') }}">
        <input type="text" name="datetimeFirst" placeholder="datetimeFirst"><br>
        <input type="text" name="datetimeLast" placeholder="datetimeLast"><br>
        <a>checkbox1</a><input type="checkbox" name="checkbox1" checked="checked"><br>
        <a>checkbox2</a><input type="checkbox" name="checkbox2" checked="checked"><br>
        <input type="submit" value="submit"><br>
    </form> -->

    <form method="POST">
        <table>
            <th>Generate these columns</th>
            <tr>
                <input type="text" name="textfield" placeholder="textfield">
            </tr>
            {% for column in columnsAll %}
            <tr>
                <td>{{column}}</td>
                <td><input type="checkbox" checked="checked" name={{column}}></td>
            </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
            
        </table>
    </form>
</body>
</html>


